[submodule "tmux-themepack"]
	path = tmux-themepack
	url = https://github.com/jimeh/tmux-themepack.git
[submodule "vim-dracula"]
	path = vim-dracula
	url = https://github.com/dracula/vim.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
