syntax on
set ruler
set number
set cursorline
set expandtab
set tabstop=4
set shiftwidth=4
autocmd FileType make setlocal noexpandtab
color dracula
if exists('$TMUX')
    set term=screen-256color
    autocmd BufReadPost,FileReadPost,BufNewFile * call system("tmux rename-window " . expand("%"))
endif
