filetype plugin indent on
syntax on
set ruler
set number
set cursorline
set noexpandtab
set tabstop=4
set shiftwidth=4
color dracula

if system("uname") == "Linux\n"
	set clipboard=unnamedplus
elseif system("uname") == "Darwin\n"
	set clipboard=unnamed
endif

if has("cscope")
	set cscopetag
	if filereadable("cscope.out")
		cs add cscope.out
	endif
	map <F5> :!cscope -Rbq<CR>:cs reset<CR>
endif

if exists('$TMUX')
    set term=screen-256color
endif
